// .loader {
//   position: fixed;
//   width: 100%;
//   height: 100%;

//   // background: #d78418;
//   // background: #cd6f00;
//   z-index: 9999;
//   text-align: center;
//   -webkit-transition: all .7s ease;
//   -moz-transition: all .7s ease;
//   transition: all .7s ease;
//   opacity: 1;
//   background: #f7cc31;

//   /* Old browsers
//   background: -moz-radial-gradient(center, ellipse cover, #f7cc31 0%, #e8842e 46%, #b64d16 100%);

//   /* FF3.6+
//   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7cc31), color-stop(46%, #e8842e), color-stop(100%, #b64d16));

//   /* Chrome,Safari4+
//   background: -webkit-radial-gradient(center, ellipse cover, #f7cc31 0%, #e8842e 46%, #b64d16 100%);

//   /* Chrome10+,Safari5.1+
//   background: -o-radial-gradient(center, ellipse cover, #f7cc31 0%, #e8842e 46%, #b64d16 100%);

//   /* Opera 12+
//   background: -ms-radial-gradient(center, ellipse cover, #f7cc31 0%, #e8842e 46%, #b64d16 100%);

//   /* IE10+
//   background: radial-gradient(ellipse at center, #f7cc31 0%, #e8842e 46%, #b64d16 100%);

//   /* W3C
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7cc31', endColorstr='#b64d16',GradientType=1 );

//   /* IE6-9 fallback on horizontal gradient
// }

// .spinner {
//   width: 100px;
//   height: 100px;
//   position: relative;
//   top: 50%;
//   left: 50%;
//   margin-left: -50px;
//   margin-top: -50px;
// }

.double-bounce {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  // background-color: #fae797;
  background-color: #fff09f;
  box-shadow: 0px 0px 35px 12px #fff09f;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 1.5s infinite ease-in-out;
  animation: bounce 1.5s infinite ease-in-out;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.spinner > .spinner-logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  // color: #fff09f;
  color: #ffffd3;
  line-height: 100px;
  text-shadow: 0 0 9px rgba(158, 74, 15, 0.94);
  font-size: 100px;
  margin-left: -10px;
  -webkit-animation: bounce 1.5s infinite ease-in-out;
  animation: bounce 1.5s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}

@include keyframes(anim-rotate) {
  from {
    @include transform(rotate(0));
  }

  to {
    @include transform(rotate(360deg));
  }
}


.load-wrapper {
  width: 254px;
  height: 270px;
  background-color: #fff;
  position: relative;
}

.load-spinner {
  @extend %loading-spinner;
}

.load-svg-spinner {
  @include svg-loading-spinner(35, 0);
}

.spinner {
  display: inline-block;
  font-size: 35px;
  height: 1em;
  line-height: 1;
  margin: 2.5em;
  animation: anim-rotate 2s infinite linear;
  color: #473821;

  // text-shadow: 0 0 .25em rgba(255,255,255, .3);
}

#tf-loading-main {
  text-align: center;
}

// .spinner--steps {
//     animation: anim-rotate 1s infinite steps(8);
// }

.spinner--steps2 {
  animation: anim-rotate 1s infinite steps(12);
}

.loading {
  background-image: url(../svg/loading-spinning-bubbles.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 55px 55px;
  height: 100vh;

  @extend %full-width;
}

.loading-bg {
  background-image: url(../svg/loading-spinning-bubbles.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 55px 55px;
  height: 400px;

  @extend %full-width;
}

.lazy-hidden {
  // background: transparent image-url("ajax-loader.gif") no-repeat 50% 50%;
}

.is-loading-sm {
  text-align: center;

  // background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 32px 32px;
  height: 90px;
  margin-top: 35px;

  // background-image: url("http://desandro.github.io/imagesloaded/assets/loading.gif");
  // background-image: image-url("ajax-loader.gif");
  background-image: url(../svg/svg-loading-spinner.svg);

  // background-image: url(../svg/svg-loading-spinner-new.svg);
  // background-size: 50px 50px;
}

.is-loading {
  text-align: center;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;

  // background-image: url("http://desandro.github.io/imagesloaded/assets/loading.gif");
  background-image: image-url("ajax-loader.gif");

  // background-image: url(../svg/svg-loading-spinner-new.svg);
  // background-size: 50px 50px;
}

.is-loading img,
.is-broken img {
  opacity: 0;
}