.header {
  min-height: 66px;
  background-color: #0266b4;
  z-index: 1;

  @extend %full-width;

  @include breakpoint($tbBreak) {
    position: fixed;
  }


  .wrapper {
    @include container(964px);
  }
}

.header-brand-text {
  color: #fff;
  font-weight: 700;

  @extend %uppercase;

  padding-top: 15px;
  float: left;

  @extend %roboto-cd-700;

  @include pre(span(22 of 964 0));

  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 11px;
}

#wal-share-content {
  @include sm-col-flex(240, 970, right, null, null);

  text-align: left;

  @extend %sm-pad;
}

%top-btn {
  @extend %roboto-cd-700;

  @extend %uppercase;

  background-color: rgba(#4196cc, 0.8);
  border-color: transparent;
  padding: 10px 23px;
  margin-bottom: 10px;
  font-size: 18px;
  text-shadow: 0 1px 3px #000;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: #fff;
  }

  @include breakpoint($tbMobile) {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
}

.header-video-link {
  @extend %top-btn;
}

#wal-top-video-share-btn {
  @extend %top-btn;
}

#wal-video-share-area-placeholder {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: 2px;

  @include breakpoint($tbMobile) {
    top: 20px;
  }


  #wal-video-share-area {
    font-size: 0;
  }

  .shenyun-glyphs {
    // color: #a6a391;
    color: $syso-light-yellow;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;

    @include pad(3px);

    &:first-child {
      @include breakpoint($tbBreak) {
        margin-left: 0;
      }
    }

    &:hover,
    &:focus {
      color: $syso-light-yellow-hover;
    }
  }
}

.header-video-link {
  float: right;
  margin-top: 10px;

  @include breakpoint($tbMobile) {
    margin-bottom: 20px;
  }
}

#share-trigger-wrapper {
  position: relative;
  float: right;
  padding-top: 10px;
  margin-left: 6px;
  min-height: 46px;
  min-width: 150px;

  @include breakpoint($tbMobile) {
    min-height: 47px;
    width: 100%;
    padding-top: 0;
  }
}