.video-area {
  background-color: #1a1b1d;
  text-align: center;

  @include breakpoint($tbBreak) {
    padding-top: 67px;
  }


  .wrapper {
    @include container(960px);
  }
}

.video-caption {
  .wrapper {
    @include container(898px);

    h1 {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      margin-top: 27px;
      margin-bottom: 13px;

      @extend %sm-pad;

      br {
        display: none;

        @include breakpoint($tbMobile) {
          display: block;
        }
      }

      @include breakpoint($tbMobile) {
        text-align: left;
        font-size: 32px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    .winner-img-wrapper {
      @extend %full-width;

      margin-bottom: 18px;

      img {
        @include img-responsive;
      }
    }
  }
}

.main-container {
  background-color: #f5f7f6;

  .wrapper {
    @include container(760px);

    padding-top: 56px;
    padding-bottom: 280px;

    @extend %sm-pad;

    p {
      font-size: 20px;
      line-height: em(35, 24);
      font-weight: 200;
    }

    .high-line {
      font-size: 28px;
      line-height: em(38, 28);
      font-weight: 700;
    }

    h3 {
      font-size: 20px;
      margin-top: 58px;
      margin-bottom: 25px;
    }
  }
}