%left {
  @include breakpoint($tbBreak) {
    float: left;
  }
}

%right {
  @include breakpoint($tbBreak) {
    float: right;
  }
}

%centered {
  margin-left: auto;
  margin-right: auto;
}

%hand {
  cursor: pointer;
}

%full-width {
  width: 100%;
}

%wrapper-1k {
  @include sy-make-wrapper(1000px);
}

%wrapper-940 {
  @include inner-container(940px);
}

%container-1k {
  @include sy-make-cont(970px);
}

%syr-container {
  @extend %container-1k;

  margin-bottom: 40px;
}

%syr-wrapper {
  @extend %wrapper-1k;

  margin-bottom: 40px;
}

%width-1k {
  @include inner-container(1000px);
}

%wrapper-1015 {
  @include sy-make-wrapper(1015px);
}

%sans {
  font-family: $font-family-sans-serif;
}

%open-sans-condensed {
  font-family: $open-sans-condensed;
}

%open-sans-condensed-700 {
  font-family: $open-sans-condensed;
  font-weight: 700;
}

%open-sans-condensed-300 {
  font-family: $open-sans-condensed;
  font-weight: 300;
}

%roboto {
  font-family: $roboto;
}

%roboto-300 {
  @extend %roboto;

  font-weight: 300;
}

%roboto-400 {
  @extend %roboto;

  font-weight: 400;
}

%roboto-500 {
  @extend %roboto;

  font-weight: 500;
}

%roboto-700 {
  @extend %roboto;

  font-weight: 700;
}

%roboto-900 {
  @extend %roboto;

  font-weight: 900;
}

%roboto-cd {
  font-family: $roboto-condensed;
}

%roboto-cd-400 {
  @extend %roboto-cd;

  font-weight: 400;
}

%roboto-cd-700 {
  @extend %roboto-cd;

  font-weight: 700;
}

%nm-bc {
  @extend %open-sans-condensed-700;
}

%gtc-book {
  font-family: $gtc-book;
}

%gtc-bold {
  font-family: $gtc-bold;
}

%gt-xb {
  font-family: $gt-xb;
}

%gt-bold,
%gt-xbo {
  font-family: $gt-xbo;
  font-weight: normal;
}

%gt-xm {
  font-family: $gt-xm;
}

%georgia {
  font-family: $georgia;
}

%ta-pr {
  font-family: $ta-pr;
  font-weight: normal;
}

%ta-pb {
  font-family: $ta-pb;
  font-weight: normal;
}

%din-r {
  font-family: $din-r;
  font-weight: normal;
}

%din-m {
  font-family: $din-m;
  font-weight: normal;
}

%din-l {
  font-family: $din-l;
  font-weight: normal;
}

%din-b {
  font-family: $din-b;
  font-weight: normal;
}

%gar {
  font-family: $garamond;
}

%uppercase {
  text-transform: uppercase;
}

%ta-pr-20 {
  font-family: $ta-pb;
  font-size: 20px;
  font-weight: normal;
}

%nm-titile {
  @extend %nm-bc;

  @extend %uppercase;

  color: $oriange-txt;
  font-size: 13px;
}

%center-fix {
  @include sy-container-fixed-sm(15px);
}

%text-shadow-white {
  color: #fff;
  text-shadow: 0 0 5px rgba(#000, 0.7);
}

%play-icon-shadow-white {
  color: #fff;
  text-shadow: 0 0 8px rgba(#000, 0.7);
}

%promo-font-style {
  font-family: $gt-xbo;
  text-transform: uppercase;

  @extend %text-shadow-white;
}

%text-shadow-white-dark {
  color: #fff;

  @include text-shadow(rgba(#000, 0.7) 0 0 10px, rgba(#000, 0.3) 0 0 5px);
}

%icon-glyphs {
  @include icon-glyphs("shenyun-glyphs");
}

%syicon {
  @include icon-glyphs("shenyunSymphony");
}

%icon-checked:before {
  content: "\e601";
}

%icon-video-play {
  @include icon-player(50, -2);

  color: #fff;

  @include transition(opacity 0.25s ease-out 0s);
}

%loading-spinner {
  height: 1em;
  line-height: 1;
  margin: .5em;

  @include animation(anim-rotate 2s infinite linear);

  color: rgba($brand-primary, 0.5);

  @include icon-player(35, -3);
}

%prev-next-icon {
  position: absolute;
  top: 0;
  z-index: 1000;
  display: inline-block;
  opacity: 0;
  cursor: pointer;

  @include transition(opacity 0.2s ease);

  &:hover,
  &:focus {
    opacity: .6;
  }

  &.active {
    opacity: .3;
  }
}

%prev-icon {
  left: 0;
  padding-left: 3%;
  padding-right: 10px;
}

%next-icon {
  right: 0;
  padding-right: 3%;
  padding-left: 10px;
}

%watch-icon {
  @include caret-right(15px);
}

%cycle-pager {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1000;

  span {
    @include circle(10px);

    @include hide-text;

    background-color: transparent;
    margin-right: 17px;
    cursor: pointer;
    color: #a25900;
    border: 1px solid;

    &:last-child {
      margin-right: 0;
    }

    &.cycle-pager-active {
      background-color: #a25900;
    }
  }
}

%text-hide {
  @include text-hide;
}

%pr-article-style {
  font-size: 16px;
  line-height: em(23, 16);

  @extend %text-shadow-white;
}

%right-align-div {
  width: 100%;
  text-align: right;
}

%hidden-xs {
  @include breakpoint($tbMobile) {
    display: none !important;
  }
}

%visible-xs {
  display: none;

  @include breakpoint($tbMobile) {
    display: block !important;
  }
}

%trigger-base {
  @include inline-block(middle, true);

  @include square(0);

  border-style: solid;
  -webkit-transform: rotate(360deg);
  border-style: inset;
}

%mk-header-ab-elm {
  position: absolute;
  left: 50%;
}

%ab-el {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

%flex-box {
  display: flex;

  // -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  // -webkit-justify-content: space-around;
  justify-content: space-between;

  // align-items: flex-start;
}

%flex-space-around {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  // align-items: flex-start;
}

%parent {
  @include display(flex);

  @include flex-direction(row);

  @include flex-wrap(wrap);

  @include justify-content(space-between);

  // @include align-items(flex-start);
}

%syr-backend-wrapper {
  background-color: #fff;

  @extend %cf;

  margin-bottom: 40px;
  min-height: 800px;
}

%user-index-register-wrapper {
  @include sy-make-wrapper(780px);

  padding-top: 50px;
}

%syr-h3-header {
  margin-bottom: 50px;
}

%view-all {
  font-size: 11px;
  font-weight: bold;
  float: right;
  color: $brand-primary;

  @extend %uppercase;
}

%bg-zoom-wrapper {
  @extend %full-width;

  overflow: hidden;
}

%bg-zoom {
  position: relative;

  @extend %full-width;

  display: block;
  background-size: cover;
  transform: scale(1);
  transition: transform .35s;

  &:hover,
  &:focus {
    transform: scale(1.12);
  }
}

%bg-zoom-after {
  &:after {
    opacity: .2;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
}

@mixin sm-pad($pad: 15px) {
  @include breakpoint($tbMobile) {
    @include pad($pad);
  }
}

%hidden-sm {
  @include breakpoint($tbMobile) {
    display: none !important;
  }
}

%sm-pad {
  @include sm-pad;
}

@mixin sm-squish($squish: -15px) {
  @include breakpoint($tbMobile) {
    @include squish($squish);
  }
}

%sm-squish {
  @include sm-squish;
}

%text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%print-style-text {
  font-size: 16px;
  line-height: 1.5em;

  @extend %georgia;

  font-weight: normal;
}

%print-style-text-lg {
  font-size: 30px;
  line-height: 1.35em;

  @extend %georgia;

  font-weight: normal;
  display: inline-block;
  padding-bottom: 9px;

  @include breakpoint($tbMobile) {
    font-size: 18px;
  }
}

/* ==========================================================================
END
========================================================================== */